 :root {
   font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   font-weight: 400;

   color: black;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

 a {
   font-weight: 500;
   color: #284087;
   text-decoration: inherit;
 }

 a:hover {
   color: #535bf2;
 }

 body {
   display: flex;
   place-items: center;
   min-width: 320px;
   min-height: 100vh;
 }

 h1 {
   font-size: 3.2em;
   line-height: 1.1;
 }

 @media (prefers-color-scheme: light) {
   :root {
     color: #213547;
     background-color: #ffffff;
   }

   a:hover {
     color: #747bff;
   }

   button {
     background-color: #f9f9f9;
   }
 }

 #id1 {
   padding: 2vw;
   box-shadow: #1a1a1a4b 2px 2px 2px 2px;
   background-color: rgba(255, 255, 255, 0.800);
   width: 25vw;
   height: 68vh;
 }

 #id2 {
   padding: 2vw;
   box-shadow: #1a1a1a4b 2px 2px 2px 2px;
   background-color: rgba(255, 255, 255, 0.800);
   width: 20vw;
   height: 60vh;
 }

 #logIn {
   margin-top: 2vh;
   margin-bottom: 2vh;
   box-shadow: #1a1a1a4b 0.7px 0.7px 0.7px 0.7px;
   background-color: #284087;
   color: #ffffff;
   width: 99.5%;
 }

 #p {
   color: #284087;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
 }

 #package {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 h3 {
   color: #284087;
 }

 #demo-helper-text-aligned {
   color: #284087;

 }

 #card {
   margin-right: 15vw;
   margin-bottom: 2vh;
   max-width: 4vw;
   max-height: 4vw;
 }

 #th1 {
   width: 98vw;
 }

 #th2 {
   width: 80vw;
 }

 #th3 {
   width: 84vw;
 }

 th {
   width: 60vw;
   height: 3.5vh;
 }

 #line {
   background-color: rgba(207, 207, 207, 0.801);
   border-radius: 5px;
   padding-right: 0.12vw;
   padding-left: 0.12vw;
   margin-bottom: 0.5vh;
   width: 65vw;
   height: 4vh;
 }

 #nav {
   padding-top: 0;
   padding-top: 0;
   box-shadow: none;
   border-bottom: #dee2e6 1px solid;
   align-items: stretch;
   height: 61px;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 1030;
   background-color: #fff !important;
   flex-flow: row nowrap;
   justify-content: flex-start;
   display: flex;
   padding: .5rem 1rem;
   box-sizing: border-box;
   unicode-bidi: isolate;
 }

 #more {
   box-shadow: none;
   align-items: stretch;
   height: 7vh;
   width: 3.5vw;
   position: fixed;
   margin-left: 1vw;
   margin-top: 1vh;
   left: 0;
   background-color: rgba(225, 249, 255, 0.65) !important;
   flex-flow: row nowrap;
   justify-content: flex-start;
   display: flex;
   padding: .5rem 1rem;
   box-sizing: border-box;
   unicode-bidi: isolate;
   border-radius: 50px;
 }

 #navlink {
   border-left: 1px solid #dee2e6 !important;
   padding-left: 4px;
 }

 span {
   display: flex;
   margin-left: auto !important;
   align-items: center;
   padding-left: 0.5rem !important;
   box-sizing: border-box;
   gap: 4px;
 }

 #title {
   color: #284087;
   font-family: fantasy;
   letter-spacing: 3px;
   word-spacing: 15px;
   text-shadow: 3px 3px 5px green;
 }

 .b1 {
   background-color: #28408728;
   color: #284087;
   border: none;
   border-radius: 2px;
 }

 .b2 {
   border: none;
   border-radius: 2px;
   color: rgba(128, 128, 128, 0.549);
 }
 