USE [master]
GO
/****** Object:  Database [Car]    Script Date: 7/18/2025 9:22:28 AM ******/
CREATE DATABASE [Car]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Car', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Car.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Car_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Car_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Car].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Car]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/18/2025 9:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Packages]    Script Date: 7/18/2025 9:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AmountScores] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Size] [int] NOT NULL,
 CONSTRAINT [PK_Packages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/18/2025 9:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ScorePerHour] [int] NOT NULL,
	[ScorePerDay] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Logo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseRentals]    Script Date: 7/18/2025 9:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseRentals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RentalId] [int] NOT NULL,
	[PurchaseId] [int] NOT NULL,
	[Scores] [int] NOT NULL,
 CONSTRAINT [PK_PurchaseRentals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchases]    Script Date: 7/18/2025 9:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ScoreBalance] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[UserId] [int] NOT NULL,
	[PackageId] [int] NOT NULL,
 CONSTRAINT [PK_Purchases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rentals]    Script Date: 7/18/2025 9:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rentals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartDateTime] [datetime2](7) NOT NULL,
	[EndDateTime] [datetime2](7) NOT NULL,
	[UsedScore] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_Rentals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/18/2025 9:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tz] [int] NOT NULL,
	[Password] [nvarchar](8) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250421102601_d', N'6.0.36')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250428145805_e', N'6.0.36')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250505152551_e3', N'6.0.36')
GO
SET IDENTITY_INSERT [dbo].[Packages] ON 

INSERT [dbo].[Packages] ([Id], [AmountScores], [Price], [Description], [Size]) VALUES (1, 10000, 7000, N'package 1', 100)
INSERT [dbo].[Packages] ([Id], [AmountScores], [Price], [Description], [Size]) VALUES (2, 8000, 6000, N'package 2', 80)
INSERT [dbo].[Packages] ([Id], [AmountScores], [Price], [Description], [Size]) VALUES (3, 6000, 4500, N'package 3', 64)
SET IDENTITY_INSERT [dbo].[Packages] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [ScorePerHour], [ScorePerDay], [Image], [Logo]) VALUES (48, N'jeep 4X4 2022', 10, 220, N'Images/car5.jpg', N'Images/a7.png')
INSERT [dbo].[Products] ([Id], [Name], [ScorePerHour], [ScorePerDay], [Image], [Logo]) VALUES (49, N'big car 1990', 9, 192, N'Images/car1.jpg', N'Images/a5.png')
INSERT [dbo].[Products] ([Id], [Name], [ScorePerHour], [ScorePerDay], [Image], [Logo]) VALUES (50, N'facel verga paris 2010', 12, 260, N'Images/car17.png', N'Images/a3.png')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseRentals] ON 

INSERT [dbo].[PurchaseRentals] ([Id], [RentalId], [PurchaseId], [Scores]) VALUES (16, 83, 8, 2500)
INSERT [dbo].[PurchaseRentals] ([Id], [RentalId], [PurchaseId], [Scores]) VALUES (17, 83, 7, 1800)
INSERT [dbo].[PurchaseRentals] ([Id], [RentalId], [PurchaseId], [Scores]) VALUES (18, 84, 8, 2500)
SET IDENTITY_INSERT [dbo].[PurchaseRentals] OFF
GO
SET IDENTITY_INSERT [dbo].[Purchases] ON 

INSERT [dbo].[Purchases] ([Id], [ScoreBalance], [Date], [UserId], [PackageId]) VALUES (7, 1800, CAST(N'2025-06-10T14:18:21.1090000' AS DateTime2), 1, 5)
INSERT [dbo].[Purchases] ([Id], [ScoreBalance], [Date], [UserId], [PackageId]) VALUES (8, 2500, CAST(N'2025-05-14T13:18:47.0920000' AS DateTime2), 1, 5)
INSERT [dbo].[Purchases] ([Id], [ScoreBalance], [Date], [UserId], [PackageId]) VALUES (9, 6000, CAST(N'2025-05-14T13:32:32.2140000' AS DateTime2), 1, 3)
SET IDENTITY_INSERT [dbo].[Purchases] OFF
GO
SET IDENTITY_INSERT [dbo].[Rentals] ON 

INSERT [dbo].[Rentals] ([Id], [StartDateTime], [EndDateTime], [UsedScore], [ProductId]) VALUES (99, CAST(N'2025-07-04T18:40:00.0000000' AS DateTime2), CAST(N'2025-07-17T18:46:00.0000000' AS DateTime2), 3380, 50)
INSERT [dbo].[Rentals] ([Id], [StartDateTime], [EndDateTime], [UsedScore], [ProductId]) VALUES (100, CAST(N'2025-07-01T18:40:00.0000000' AS DateTime2), CAST(N'2025-07-06T18:40:00.0000000' AS DateTime2), 800, 54)
INSERT [dbo].[Rentals] ([Id], [StartDateTime], [EndDateTime], [UsedScore], [ProductId]) VALUES (101, CAST(N'2025-07-17T19:41:00.0000000' AS DateTime2), CAST(N'2025-07-17T21:44:00.0000000' AS DateTime2), 16, 68)
SET IDENTITY_INSERT [dbo].[Rentals] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Tz], [Password], [Name], [Email], [Phone]) VALUES (1, 123456789, N'123456', N'any', N'any@gmail.com', N'1234567890')
INSERT [dbo].[Users] ([Id], [Tz], [Password], [Name], [Email], [Phone]) VALUES (4, 111111111, N'123456', N'yaffi', N'', N'')
INSERT [dbo].[Users] ([Id], [Tz], [Password], [Name], [Email], [Phone]) VALUES (5, 222222222, N'123456', N'yaffi', N'', N'')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Purchases_PackageId]    Script Date: 7/18/2025 9:22:29 AM ******/
CREATE NONCLUSTERED INDEX [IX_Purchases_PackageId] ON [dbo].[Purchases]
(
	[PackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Purchases_UserId]    Script Date: 7/18/2025 9:22:29 AM ******/
CREATE NONCLUSTERED INDEX [IX_Purchases_UserId] ON [dbo].[Purchases]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rentals_ProductId]    Script Date: 7/18/2025 9:22:29 AM ******/
CREATE NONCLUSTERED INDEX [IX_Rentals_ProductId] ON [dbo].[Rentals]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_Tz]    Script Date: 7/18/2025 9:22:29 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Tz] ON [dbo].[Users]
(
	[Tz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Purchases] ADD  DEFAULT ((0)) FOR [PackageId]
GO
ALTER TABLE [dbo].[Purchases]  WITH CHECK ADD  CONSTRAINT [FK_Purchases_Packages_PackageId] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Packages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Purchases] CHECK CONSTRAINT [FK_Purchases_Packages_PackageId]
GO
ALTER TABLE [dbo].[Purchases]  WITH CHECK ADD  CONSTRAINT [FK_Purchases_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Purchases] CHECK CONSTRAINT [FK_Purchases_Users_UserId]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [FK_Rentals_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [FK_Rentals_Products_ProductId]
GO
USE [master]
GO
